#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calcButton {
  font-size: 20px;
  height: 80px;
  width: 70px;
  padding: 10px;
  background-color: rgb(195, 255, 185);
  border: 0;
  transition: 0.2s;
  color: black;
}

.calcButton:hover {
  background-color: rgb(132, 187, 143);
}

.active {
  background: rgb(42, 108, 42);
}

.active:hover{
  background: rgb(17, 60, 17);
}

.calcScreen {
  margin: auto;
  height: 55px;
  width: 292px;
  background-color: white;
  color: black;
  font-size: 18px;
}

.calcNum {
  font-family: monospace;
  font-size: 40px;
  text-align: right;
  margin: 10px;
  overflow: hidden;
}

.calcBG {
  background: rgb(0, 0, 0);
}